/*///SELF///*/
@font-face {
  font-family: Worksans;
  src:url('../fonts/WorkSans/WorkSans-Medium.ttf');
}

.title-container{
  text-align: center;
}

.legend{
  cursor: pointer;
  color: #36304a;
}

.donateBtn{
  color: grey;
  border: 1px;
  border-color: white;
}

.title{
  font-family: Worksans;
  color: white;
}

.title-container{
  padding: .6em;
}

.las{
  font-size: 17px;
}

.repo{
  color: white;
}

.why{
  color: white;
}

.la-check{
  color: #2eb134;
}

.la-shield-alt{
  color: #008507;
}

.la-mask{
  color: #c850c0;
}

.la-times{
  color: #c92525;
}

.la-exclamation-triangle{
  color: #df921e;
}

.donate{
  font-family: monospace;
  color: #999999;
}

.CellWithComment{
  position:relative;
}

.CellComment{
  display:none;
  position:absolute; 
  z-index:200;
  border:1px;
  background-color:rgb(0, 0, 0);
  border-style:solid;
  border-width:1px;
  border-color:rgb(255, 251, 0);
  padding:3px;
  color:rgb(255, 238, 0); 
  top:-20px; 
  left:-20px;
}

.CellWithComment:hover span.CellComment{
  display:block;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); 
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	/*border: none;*/
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Utiliti ]*/






/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(142deg, rgba(0,0,0,1) 24%, rgba(7,1,20,1) 47%, rgba(19,6,47,1) 60%, rgba(48,20,117,1) 80%, rgba(101,45,244,1) 100%);
  background: -webkit-linear-gradient(142deg, rgba(0,0,0,1) 24%, rgba(7,1,20,1) 47%, rgba(19,6,47,1) 60%, rgba(48,20,117,1) 80%, rgba(101,45,244,1) 100%);
  background: linear-gradient(142deg, rgba(0,0,0,1) 24%, rgba(7,1,20,1) 47%, rgba(19,6,47,1) 60%, rgba(48,20,117,1) 80%, rgba(101,45,244,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#652df4",GradientType=1);
  
  
  /*background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);*/

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
  text-align: center;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #e6c8e6cb;
  cursor: pointer;
}

.column1 {
  width: 205px;
  text-align: center;
  padding-left: 40px;
}

.column2 {
  width: 190px;
  text-align: center;
}

.column3 {
  width: 190px;
  text-align: center;
}

.column4 {
  width: 195px;
  text-align: center;
}

.column5 {
  width: 195px;
  text-align: center;
}

.column6 {
  width: 195px;
  text-align: center;
  padding-right: 62px;
}


@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "NAME";
  }
  table tbody tr td:nth-child(2):before {
    content: "BTC";
  }
  table tbody tr td:nth-child(3):before {
    content: "XMR";
  }
  table tbody tr td:nth-child(4):before {
    content: "Conditions";
  }
  table tbody tr td:nth-child(5):before {
    content: "Exchange";
  }
  table tbody tr td:nth-child(6):before {
    content: "Buy";
  }

  .column1 {
    width: 260px;
    padding-left: 40px;
  }
  
  .column2 {
    width: 160px;
  }
  
  .column3 {
    width: 245px;
  }

  .column1,
  .column2,
  .column3 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}