@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
        position: absolute;
        padding-left: 3em;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 50% !important;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 1em;
		left: 1em;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
    */
    td:nth-of-type(1):before { content: "Name"; }
    td:nth-of-type(2):before { content: "BTC"; }
	td:nth-of-type(3):before { content: "XMR"; }
	td:nth-of-type(4):before { content: "Conditions"; }
	td:nth-of-type(5):before { content: "Exchange"; }
	td:nth-of-type(6):before { content: "Buy"; }
}