{% extends "base.html" %}

{% block content %}
<div class="ui container">
<h2 class="ui center aligned icon header">
    <i class="circular red heart outline icon"></i>
    About
    <div class="sub header">You can visit <a href="https://pluja.dev/">my website</a> and look at my other projects and stuff I do. </div>
    <div class="sub header">This project is free and <a href="https://github.com/pluja/kycnot">Open Source</a> to everyone and will always be. But if you want, you can buy me a coffee (I don't require KYC!). </div>
</h2>

<h2 class="ui center aligned icon header">
    <i class="orange bitcoin icon"></i>
    <div class="content">
        Bitcoin
        <div class="sub header">{{addr['bitcoin'][0]}}</div>
    </div>
</h2>
<div class="ui horizontal divider">
    Or
</div>
<h2 class="ui center aligned icon header">
    <i class="monero icon"></i>
    <div class="content">
        Monero
        <div class="sub header">{{addr['monero'][0]}}</div>
    </div>
</h2>
</div>
{% endblock %}