{% extends "base.html" %}

{% block content %}
<div class="ui text container">
<h2 class="ui center aligned icon header">
    <i class="circular exchange icon"></i>
    Exchanges
</h2>


<div class="ui center aligned segment">
  <p>
    <i class="green shield alternate icon"></i> Verified
    <i class="ellipsis vertical icon"></i>
    <i class="grey handshake outline icon"></i> P2P
    <i class="ellipsis vertical icon"></i>
    <i class="grey user secret icon"></i> No personal info
    <i class="ellipsis vertical icon"></i>
    <i class="money bill alternate outline icon"></i> Cash accepted
    <i class="ellipsis vertical icon"></i>
    <i class="grey user times icon"></i> No account
    <i class="ellipsis vertical icon"></i>
    <i class="violet bullseye icon"></i> Tor
    <i class="ellipsis vertical icon"></i>
    <i class="grey eye icon"></i> KYC if suspicious
    <i class="ellipsis vertical icon"></i>
    <i class="grey linkify icon"></i> Custiodial
    <i class="ellipsis vertical icon"></i>
    <i class="yellow reply icon"></i> Refunds w/o KYC
  </p>
</div>

<table class="ui celled table">
    <thead>
      <tr class="center aligned">
        <th>Name</th>
        <th>BTC</th>
        <th>XMR</th>
        <th>Conditions</th>
        <th>Exchange</th>
        <th>Buy</th>
      </tr>
    </thead>
    <tbody>
      {% if list %}
        {% for item in list %}
          {% include '_exchange-item.html' %}
        {% endfor %}
      {% endif %}
    </tbody>
</table>
</div>
{% endblock %}