{% extends "base.html" %}

{% block content %}
<div class="ui container">
<h2 class="ui center aligned icon header">
    <i class="circular shopping basket icon"></i>
    Merchants
</h2>


<table class="ui celled table">
    <thead>
      <tr class="center aligned">
        <th>Name</th>
        <th>BTC</th>
        <th>XMR</th>
        <th>Conditions</th>
        <th>Exchange</th>
        <th>Buy</th>
      </tr>
    </thead>
    <tbody>
      {% for item in list %}
        {% include '_exchange-item.html' %}
      {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}