{% extends "base.html" %}

{% block content %}
<div class="ui container">
<h2 class="ui center aligned icon header">
    <i class="circular globe icon"></i>
    Services
</h2>

<div class="ui center aligned segment">
  <p>
    <i class="green shield alternate icon"></i> Verified
    <i class="ellipsis vertical icon"></i>
    <i class="grey handshake outline icon"></i> P2P
    <i class="ellipsis vertical icon"></i>
    <i class="grey user secret icon"></i> No personal info
    <i class="ellipsis vertical icon"></i>
    <i class="grey user times icon"></i> No account
    <i class="ellipsis vertical icon"></i>
    <i class="violet bullseye icon"></i> Tor
    <i class="ellipsis vertical icon"></i>
    <i class="ellipsis vertical icon"></i>
    <i class="blue bolt icon"></i> LNN accepted
  </p>
</div>

<table class="ui celled table">
    <thead>
      <tr class="center aligned">
        <th>Name</th>
        <th>Comment</th>
        <th>BTC</th>
        <th>XMR</th>
        <th>Concerns</th>
      </tr>
    </thead>
    <tbody>
      {% if list %}
        {% for item in list %}
          {% include '_service-item.html' %}
        {% endfor %}
      {% endif %}
    </tbody>
</table>
</div>
{% endblock %}